.Product{
    display: inline-block;
    width: 100%;
    max-width: 300px;
}

.Product img{
    height: 150px;
    width: 100%;
    object-fit: contain;
}

.Product .p-card-title{
    font-size: 20px;
}